<div class="container text-center">
    <h1>About Us</h1>
    <p>DevConnect is an online platform that connects Software Developers to Investors and Entrepreneurs by sharing contact information amongst themselves. Only the registered Pro Users can assess contact information.</p>
</div>